# Node Files #
**/node_modules

# Coverage directory used by tools like istanbul
**/coverage

# JetBrains IDE setting
.idea
*.iml
*.iws

# Dist folder
**/dist

# Tslint output folder
**/tslint

# Logs
**/logs
*/.log

# Maven target
**/target

# Eclipse workspace
**/.metadata/
**/bin/
**/build/
!**/ckeditor5/build/
**/Servers/

# Webstorm configure
**/.editorconfig
**/.recommenders

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/
.factorypath

# Sonarlint
**/.sonarlint

# Mac
.DS_Store

# Maven
log/
target
proxy.conf.json
